body {
	margin: 0px;
	padding: 0px;
	background: url(images/map.jpg);
	background-repeat: no-repeat, repeat;
	background-size: cover;
	font-family: Raleway;
}

.container {
	background-color: #fff;
	width: 400px;
  height: 200px;
	margin-top: 25px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 4px 4px 5px #888888;
	position: relative;
}

.update-container {
	background-color: #fff;
	margin: 0 auto;
	width: 65%;
  height: auto;
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 15px;
	position: relative;
}

header {
	background-color: #203040;
	margin-top: 0px;
}
.wrappper{
	margin: 0 auto;
	width: 960px;
}
img {
	width: 10%;
	height: auto;
	margin: 0px auto;
	display: block;
	padding-bottom: 10px;
}

h1 {
	text-align: center;
	color: #203040;
  padding-bottom: 5px;
}
#inspector {
	font-family:'Special Elite', cursive;
	font-size: 34px;
}

.search-container {
	width: 300px;
	margin: 0 auto;
}

.btn {
	margin-right: 20px;
	margin-top: 10px;
}

h2,
h4 {
	padding-left: 10px;
}

h3 {
	text-align: center;
}

#refresh {
	height: 40px;
	width: 80px;
	margin: -20px -50px;
	position: relative;
	top: 50%;
	left: 50%;
	background-color:#203040;
	color:white;
	
}

a {
	list-style: none;
	margin-left: 10px;
	color: #203040;
}

a:hover {
	text-decoration: none;
	
}

#Search {
	height: 40px;
	width: 80px;
	background-color:#203040;
	color:white;
	border-radius: 10px;
	margin-right: 10px;
	padding-left: 0px;
	margin-top: 10px;
	}

#Search a {
	color:white;
	text-decoration: none;
}
